<div class="father">
  <h1 class="title">Phantom thieves aficionado website</h1>
  <img src="assets/PicturesPNG/getStartedPage/logo.png " alt="logo">



  <div class="start"

       (mouseenter)="onStartMouseEnter()"
       (mouseleave)="onStartMouseLeave()">

    <div class="word">
      <h1 class="red">L</h1>
      <h1 class="white">et </h1>
    </div>

    <div class="word">
      <h1 class="white"> us </h1>
    </div>

    <div class="word">
      <h1 class="red"> S</h1>
      <h1 class="white">tart</h1>
    </div>

    <div class="word">
      <h1 class="red"> the </h1>
    </div>

    <div class="word">
      <h1 class="white"> g </h1>
      <h1 class="red">A</h1>
      <h1 class="white">me</h1>
    </div>

  </div>

</div>


<div  class="parallelogram"
     [class.parallelogramAnimation]="isStartHovered"
></div>
